{% extends "feed/base.html" %} {% block content %}
<style>
  .text-bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%; /* Ensure the container takes the full height */
}

</style>
<div class="container mt-5">
  <div class="row">
    <div class="col-md-8">
      <h1 class="text-primary">About Us</h1>
      <p class="lead">
        The Game Changer in short-term job search and recruitment!
        Whether you're a candidate seeking immediate work or an employer searching for temporary workers -
        Experience the power of Jobit in revolutionizing the way you can connect for your personalized job opportunities.

        The end of sifting through irrelevant postings is just a click away.
        Join us now!

        <h2 class="text-primary mt-2">Meet the Team</h2>
      <p class="lead">
        Yuli Suliman, Saar Orus, and Adi Rozenberg are the founders of JOBIT.
      </p>
      <p class="lead">
        We are third-year computer science students at Tel Aviv-Yafo Academic
        College. As students ourselves, we experienced firsthand the challenges
        of finding work that could fit into our busy schedules. We created JOBIT
        to provide a solution for students and anyone else seeking flexible,
        non-permanent work. Our passion for helping others find work that fits
        their lifestyle and our commitment to providing a top-quality platform
        have made JOBIT a success.
      </p>

<!--      <div class="col-md-4">-->
<!--        <img src="jobit/media/images/process-of-jobit.jpg" width="300" height="200" class="rounded">-->
<!--      </div>-->
    </div>
  </div>
</div>
{% endblock content %}